<div class="wrapper">
    <div class="cards posts">
        {% for post in page.posts %}
            <div class="card post">
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                <div class="card-image">
                  <img id="cover-photo" src="/images/{{ post.cover }}">
                </div>
                <div class="card-header">
                      {{ post.title }}
                    <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
                </div>
                <div class="card-copy">
                  {{ post.content | strip_html | truncatewords:50 }}
                </div>
            </a>
            </div>
        {% endfor %}
    </div>
</div>
  
