{% if page.desc %}
    <meta name="description" content="{{ page.desc }}" />
{% else %}
    <meta name="description" content="Micro-agency specializing in web apps and development, plus a blog about the Web, music and life in Boulder" />
{% endif %}

{% if page.tags %}
    <meta name="keywords" content="{{ page.tags | join: ',' }}" />
{% else %}
    <meta name="keywords" content="web design, web development, web development agency, router chowder, boulder, wordpress development, music blog, luke patrick" />
{% endif %}