<div class="content medium-12 large-9 columns">
    <div id="post-info">
      {% include cover-photo.html %}
      <div id="info-container">
        <div class="title-block">
          <h1 id="title">{{ page.title }}</h1>
          <h2 id="subtitle"><em>{{ page.subtitle }}</em></h2>
        </div>
        <div id="date"><a href="/{{ page.date | date: "%Y" }}">{{ page.date | date_to_string }}</a> - Posted in <a href="/{{ page.category | replace: ' ','-' | downcase }}">{{ page.category }}</a></div>
      </div>
    </div>
  
  <div class="wrapper">
    <div class="post">
      {{ content }}
    </div>
  {% include colophon.html %}
  </div>
  
</div>

