<div class="sidebar" id="sidebar">
    <div class="header">
      <h1 class="title">
        <a href="/">
          <img class="decal" src="/images/decal.png">
          <img class="logo" id="logo" src="/images/logotype.png">
        </a>
      </h1>
      <span class="tagline">by <a href="/about" title="About Luke Patrick and this site">Luke Patrick</a></span>
      <span class="tagline">covering <u><a href="/web-design">web design</a></u>, <u><a href="/music">music</a></u>, & <u><a href="/boulder">life in Boulder</a></u></span>
    </div>
    <div class="posts">
      <ul class="posts-list owl-carousel owl-theme">
        {% for post in site.posts %}
          <li class="post-link item">
            <a class="post-title" href="{{ post.url }}">
              <span class="post-date">{{ post.date | date_to_string }}</span>
              {{ post.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="footer">
      <span id="footer-links">
        <a target="_blank" href="https://twitter.com/LukePatrick" class="footer-link"><i class="fa fa-twitter"></i> Twitter</a> <span class="separator">&bull;</span>
        <a target="_blank" href="https://github.com/lukechanning" class="footer-link"><i class="fa fa-github"></i> GitHub</a>
      </span>
    </div>
</div>