/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  color: #4a4a4a;
  background-color: #fafbfc;
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 400;
  font-size: 0.85em;
  overflow: hidden;
}

a {
  color: $baseColour;
  text-decoration: none;
  border: none;
  img {
    outline: none;
  }
  &:hover {
    color: #555;
    border: none;
  }
}

.separator {
  color: #555;
}

/*****************************************************************************/
/*
/* Content
/*
/*****************************************************************************/

.wrapper, #info-container {
  padding-left: 2.125em;
}

.header {
  text-align: center;
  padding-top: 2.5em;
  font-size: 1.1em;
  a {
    font-weight: 600;
    color: #333;
    text-decoration: underline;
  }
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  height: 100%;
  width: 100%;
  line-height: 1.25em;
}