/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.posts {
  border-top: 1px solid #e7e7e7;
  margin-top: 1em;
  padding-top: 1.5em;
  padding-bottom: 1.25em;
}

#date {
  font-size: 16px;
  padding-top: 0.25em;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-weight: 600;
  color: #787878;
  a {
    color: $baseColour;
    font-weight: 700;
    text-decoration: underline;
  }
}

.title {
  display: inline-block;
  text-align: center;
  line-height: 25px;
}

.tagline {
  width: 100%;
  color: #787878;
  font-weight: 600;
  text-align: center;
  margin-top: 0.5em;
  display: block;
}

#cover-photo-container {
  display: block;
  height: 55vh;
  background-size: cover;
  z-index: 100;
  #cover-photo {
    width: 100%;
  }
}

#info-container {
  display: block;
  margin-top: -4px;
  z-index: 250;
}

//Let's add title block styling
  .title-block {
      background-color: #333333;
      color: #FFF;
      padding: 10px 30px;
      margin-left: -2rem;
      margin-bottom: 1rem;
    h1, h2 {
      color: #FFF;
      margin-bottom: 0.35em;
      line-height: 40px;
      text-transform: uppercase;
    }
    h1 {
      font-size: 2em;
    }
  }

.post {
  line-height: 24px;
  max-width: 725px;
  clear: both;
  h2 {
    margin-top: 1.25em;
    margin-left: -0.5em;
    margin-bottom: 1.25em;
  }
  a {
    border-bottom: 1px solid $baseColour;
  }
}

#about a {
  border-bottom: 1px solid $baseColour;
}

.post {
  a:hover {
    border: none;
  }
  pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }
  p {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 17px;
    margin-bottom: 1.45em;
    text-align: justify;
  }
  ul, ol {
    margin-left: 2.35em;
    margin-bottom: 1.25em;
  }
  code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .2em;
  }
  pre {
    code {
      border: none;
    }
    &.terminal {
      border: 1px solid #000;
      background-color: #333;
      color: #FFF;
      code {
        background-color: #333;
      }
    }
  }
}

.post-link {
  margin-bottom: 0.75em;
}

.post-title {
  font-weight: 600;
  font-size: 1.25em;
  text-transform: uppercase;
}

.post-date {
  color: #8a8a8a;
  font-family: Monaco, "Courier New", monospace;
  font-weight: 600;
  font-size: 0.65em;
  display: block;
  text-transform: uppercase;
}