.sidebar, .content {
  vertical-align: top;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar {
    float: left;
    width: 14%;
    padding: 0 2.125em 0 11em;
    border-right: 1px solid $shader;
    u {
        font-weight: 700;
        color: #222;
    }
    .title {
        max-width: 100%;
    }
    .decal, .logo {
        margin-bottom: 1rem;
        max-width: 85%;
    }
    #footer-links {
        a {
            color: #333;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}

#sidebar-button {
  height: intrinsic;
  cursor: pointer;
  display: none;
  padding: rem(7) rem(5);
  border-bottom: 1px solid $shader;
  &:active, &:hover {
    opacity: 0.7;
  }
  i {
    color: $baseColour;
  }
}