/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.posts a {
  color: #444;
  &:hover {
    color: #777;
  }
}

.posts-list {
  list-style-type: none;
  li {
    text-align: center;
    line-height: 1.75em;
  }
}