.tag-cloud {
    margin-top: rem(10px);
    .tag-list {
        max-width: 50%;
        margin: 0 auto;
        list-style: none;
        text-align: center;
        .tag-item {
            left: 0;
            display: inline-block;
            width: auto;
            padding: 0 rem(10px);
        }
    }
}