<div class="row">
    <div class="article-lead small-10 small-centered columns">
        {% if page.fa-icon != empty %}
            <i class="fa fa-4x fa-{{ page.fa-icon }}"></i>
        {% endif %}
        <h1 id="article-title">
            {{ page.title }}
        </h1>
        <hr>
        <div class="row">
            <h4 id="article-subtitle" class="small-10 small-centered columns">
                <em>{{ page.subtitle }}</em>
            </h4>
        </div>
        <div class="article-subinfo row">
            <div id="article-date" class="small-6 small-centered columns">
               <!-- <i class="fa fa-calendar-o"></i> <a href="/{{ page.date | date: "%Y" }}">{{ page.date | date_to_string }}</a> -->
               <div class="row">
                   <ul class="article-tags small-12 small-centered columns">
                       <div class="row">
                           <div class="small-12 small-centered columns">
                               <i class="fa fa-tag"></i>
                           </div>
                       </div>
                       <li class="article-tag"><a href="/{{ page.category | replace: ' ','-' | downcase }}">{{ page.category }}</a></li>
                        {% if page.tags != empty %}
                            {% for tag in page.tags %}
                               <li class="article-tag"><a class="tag" href="/tag/{{ tag | replace: ' ','-' }}">{{ tag }}</a></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
               </div>
            </div>
        </div>
    </div>
</div>