---
layout: default
---

<div class="content archive">
      <div id="sidebar-button">
      <img src="/images/sidebar-button.png">
    </div>
    <div id="post-info">
      <div id="cover-photo-container">
        <img id="cover-photo" src="/images/covers/googe-cover.jpg">
      </div>
      <div id="info-container">
        <div class="title-block">
          <h1 id="title">Router Chowder  in - {{ page.date | date: "%B %Y" }}</h1>
          <h2 id="subtitle"><em>the best and (sometimes) brightest</em></h2>
        </div>
      </div>
    </div>
    
    {% include blog-roll.html %}

</div>