<div class="footer-links small-8 small-centered columns">
    <div class="row">
      <a target="_blank" href="https://twitter.com/LukePatrick" class="footer-link">
        <i class="fa fa-twitter"></i> Twitter
      </a>
      <span class="separator">&bull;</span>
      <a target="_blank" href="https://github.com/lukechanning" class="footer-link">
        <i class="fa fa-github"></i> GitHub
      </a>
      <br>
      <a target="_blank" href="http://themeforest.net/user/routerchowder" class="footer-link">
        <i class="fa fa-leaf envato"></i> Envato Market
      </a>
    </div>
</div>