<h1 class="fallback">Router Chowder</h1>
<div class="logo-block small-8 small-centered columns">
    <div class="row">
      <a href="/">
        <img class="decal small-5 large-12 columns" src="/images/decal.png">
        <img class="logo small-7 large-12 columns" id="logo" src="/images/logotype.png">
      </a>
    </div>
</div>
<div class="row">
  <div class="taglines small-10 small-centered columns">
      <strong>
        <span class="tagline">micro-agency &amp; blog</span>
        <span class="tagline">We <a href="/about" title="About Router Chowder and Luke Patrick">make cool stuff</a><br> and write about <u><a href="/web-development">web dev</a></u>, <u><a href="/tech">tech</a></u> & <u><a href="/hypotheticals">hypotheticals</a></u></span>
      </strong>
  </div>
</div>
