/*****************************************************************************/
/*
/* Articles
/*
/*****************************************************************************/

.article {
  overflow-x: hidden;
  padding-top: rem-calc(35);
  //Let's organize and style the lead
  .article-lead {
    text-align: center;
    margin-bottom: rem-calc(35);
    hr {
      max-width: 65%;
    }
  }
}