/*****************************************************************************/
/*
/* Articles
/*
/*****************************************************************************/

.article {
  overflow-x: hidden;
  padding-top: rem-calc(35);
  //Let's organize and style the lead
  .article-lead {
    text-align: center;
    margin-bottom: rem-calc(35);
    hr {
      max-width: 65%;
    }
  }
  // make sure our blockquotes look good
  blockquote {
    font-size: rem-calc(20);
    font-weight: 600;
  }
}