.banner {
    top: 0;
    display: block;
    text-align: center;
    background-color: $primary-color;
    z-index: 300;
    p {
        padding: rem-calc(6) 0;
        font-size: rem-calc(21);
        color: $white;
        margin-bottom: 0;
        text-transform: uppercase;
    }
    a {
        color: $white;
        text-decoration: underline;
        &:hover {
            color: $white;
            opacity: 0.7;
        }
    }
    @include breakpoint(large) {
        position: fixed;
        width: 100%;
    }
}