/*****************************************************************************/
/*
/* Colophon
/*
/*****************************************************************************/

.colophon {
  margin-top: 1.5em;
  margin-bottom: 1.45em;
  border-top: 1px dotted $medium-gray;
  p {
    margin-top: 1.25em;
    color: $dark-gray;
  }
}