/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  color: #4a4a4a;
  background-color: #fafbfc;
}

a {
  color: $baseColour;
  text-decoration: none;
  border: none;
  img {
    outline: none;
  }
  &:hover {
    color: #555;
    border: none;
  }
}

.separator {
  color: #555;
}

/*****************************************************************************/
/*
/* Content
/*
/*****************************************************************************/

.wrapper, #info-container {
  padding-left: 2.125em;
}

.header {
  text-align: center;
  font-size: 1.1em;
  a {
    font-weight: 600;
    color: #333;
    text-decoration: underline;
  }
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/*****************************************************************************/
/*
/* Site & Content
/*
/*****************************************************************************/

.site {
  line-height: 1.25em;
}
