.sidebar {
    margin-top: rem-calc(20);
    text-align: center;
    border-right: 1px solid $medium-gray;
    overflow: auto;
    .fallback {
        display: none !important;
    }
    u {
        font-weight: 700;
        color: $black;
    }
    .posts {
      border-top: 1px solid $light-gray;
      margin-top: 1em;
      padding: 12px 0;
      .post-link {
          margin-bottom: 0.75em;
        }
        .post-title {
          font-weight: 600;
          font-size: 1.25em;
          text-transform: uppercase;
        }
        .post-date {
          color: $dark-gray;
          font-family: $font-family-monospace;
          font-weight: 600;
          font-size: 0.65em;
          display: block;
          text-transform: uppercase;
        }
        a {
          color: $black;
          &:hover {
            color: $dark-gray;
          }
        }
    }
    .header {
      text-align: center;
      font-size: 1.1em;
      a {
        font-weight: 600;
        color: $black;
        text-decoration: underline;
        &:visited {
            color: $black;
        }
      }
    }
    .logo-block {
      display: inline-block;
      text-align: center;
      line-height: rem-calc(25);
    }
    .decal, .logo {
        margin-bottom: rem-calc(6);
    }
    .taglines {
        padding: 0 rem-calc(20);
        .tagline {
            color: #787878;
            font-weight: 600;
            text-align: center;
            margin-top: 0.5em;
            display: block;
            line-height: rem-calc(20);
        }
    }
    .owl-nav {
        margin-top: 0 !important;
    }
    .footer {
      font-size: 0.95em;
      border-top: 1px solid #e7e7e7;
      padding-top: 1.25em;
      padding-bottom: 1.5em;
      float: center;
      text-align: center;
      a {
        font-size: 1rem;
      }
    }
    .footer-links {
        line-height: 1.5rem;
        a {
            color: #333;
            &:hover {
                opacity: 0.8;
            }
        }
    }
    @include breakpoint(large) {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}