.tags {
    margin-top: rem(10px);
    .tag-cloud {
        margin: 0 auto;
        list-style: none;
        text-align: center;
        .tag {
            display: inline-block;
            float: none;
            left: 0;
            width: auto;
            margin: 0 5px;
        }
    }
}